body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 7px;
    background-color: #a75812;
}

.container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    flex-wrap: wrap;
}

label {
    margin: 10px 0 5px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

div.button {
    padding: 10px;
    margin: 2px;
    background: none;
    color: rgba(255, 68, 0, 0.484);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
}

button:hover {
    background-color: #ffffff;
}

@media (max-width: 540px) {
    .button {
        position: absolute;
        top: 15%;
        left: 76%;
    }
}

@media (max-width: 824px) {
    .button {
        position: absolute;
        top: 15%;
        left: 63%;
    }
}

@media (max-width: 1280px) {
    .button {
        position: absolute;
        top: 15%;
        left: 58%;
    }
}

@media (max-width: 1518px) {
    .button {
        position: absolute;
        top: 15%;
        left: 57%;
    }
}